footer {
    background-color: black;
    /* margin-top      : 20px; */
    position        : relative;
    left            : 0px;
    bottom          : 0px;
    width           : 100%;
    color           : #fff;
}

footer p {
    padding  : 1em;
    font-size: 1.2em;
}

footer a {
    color          : #fff;
    text-decoration: none;
}

footer a:hover {
    color: red;
}

@media screen and (max-width:768px) {
    footer p{
        font-size: .9em;
        text-align: center;
    }
   
}