<div class='widget'>
    <div style='background: url("{{imageURL()}}") no-repeat center/cover;' class='widget__photo'></div>
    <div class='widget__button'>
        <a (click)="infoEvent()" >Más Info</a> 
    </div>
    <div class='widget__details'>
        <div class='widget__name'>
            {{event.name}}
        </div>
        <div class='widget__type'>
            {{event.asociation}}
        </div>
        <div class='widget__info'>
            <span> 
                Universidad Rey Juan Carlos
            </span>
            <span>
                {{event.campus}}
            </span>
        </div>
        <div class='widget__hidden'>
            <hr>
            <table class='widget__table'>
                <tr>
                    <td>
                        Fecha
                    </td>
                    <td>
                        {{event.date}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Horario
                    </td>
                    <td>
                         {{event.startTime}} - {{event.endTime}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Lugar
                    </td>
                    <td>
                       {{event.location}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Reserva
                    </td>
                    <td>
                        {{getBooking()}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Creditos
                    </td>
                    <td>
                        {{getCredits()}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
