<div class='widget'>
    <div style='background: url() no-repeat center/cover;' class='widget__photo'></div>
    <div class='widget__button'>
        <a href="/infoEvento/">Más Info</a> 
    </div>
    <div class='widget__details'>
        <div class='widget__name'>
            <!-- {{name}} -->
        </div>
        <div class='widget__type'>
            <!-- {{#asociation}}{{name}}{{/asociation}} -->
        </div>
        <div class='widget__info'>
            <span>
                Universidad Rey Juan Carlos
            </span>
            <span>
                <!-- {{campus}} -->
            </span>
        </div>
        <div class='widget__hidden'>
            <hr>
            <table class='widget__table'>
                <tr>
                    <td>
                        Fecha
                    </td>
                    <td>
                        <!-- {{date}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Horario
                    </td>
                    <td>
                        <!-- {{startTime}} - {{endTime}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Lugar
                    </td>
                    <td>
                        <!-- {{location}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Reserva
                    </td>
                    <td>
                        <!-- {{#booking}}Si{{/booking}}
                        {{^booking}}No{{/booking}} -->
                    </td>
                </tr>
                <tr>
                    <td>
                        Creditos
                    </td>
                    <td>
                        <!-- {{#credits}}Si{{/credits}}
                        {{^credits}}No{{/credits}} -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
