<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Más información</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/detalles.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <header class="nav container_fluid">
        <div class="">
            <a href="/"><img class="logo" src="/img/URJ_logo_BN_NEG_corona_roja.png" alt=""></a>

            <div id="mainListDiv" class="main_list">
                <!-- <ul class="navlinks">
                    <li><a href="login.html">Mi Espacio</a></li>
                </ul> -->
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </header>

    <div class="hero detalles">
      <div class="titulo">
          <h2></h2>
      </div> 
    </div>

    <section class="intro">
      <div class="container">
          <div class="container1">

              <div class="titulo">
                  <h3>{{#event}}{{name}}{{/event}}</h3>
                  <img src="" alt="">
              </div>
  
              <div class="parrafo">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  </p>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>

                  <h3>Horarios</h3>
  
                  <p>13-02-2023 15:30</p>
                    
                  <p>Universidad Rey Juan Carlos Campus de Alcorcón, Avenida de Atenas, Alcorcón, España</p>

                  </p>
              </div>    

          </div>
      </div>
  </section>
  
  <section class="row1">  
    <div class="seccion">
   
    <div class="boton-linea-ext">
       <span class="linea1"></span>
       <span class="linea2"></span>
       <span class="linea3"></span>
       <span class="linea4"></span>
       <a href="/agregarFavoritos/{{#event}}{{id}}{{/event}}">Añadir favoritos</a>
    </div>

       <!-- <form action="/agregarFavoritos/{{#event}}{{id}}{{/event}}" method="post">
        <input type="submit" value="Añadir favoritos">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        </form> -->
    
    
   </section>

   <footer class="container-fluid">
        <div class="container">
            <p>
                2023 &copy; PGCA
                -
                <a href="#">DAW</a>
                -
                <a href="#">Universidad Rey Juan Carlos</a>
            </p>
        </div>
    </footer>
  
      <script src="/js/jquery.js"></script>
      <script src="/js/script.js"></script>
    
</body>
</html>