<app-header></app-header>
<app-moreinfohero></app-moreinfohero>
<section class="intro">
    <div class="container">
        <div class="container1">
              <div class="titleName">
                  <h3>{{event.name}}</h3>
                  <img src={{imageURL()}} alt="">
              </div>
              <div class="info">
                  <h3>{{event.asociation}}</h3>
                  
                  <p>Descripcion: {{event.description}}</p>
                  
                  <p>Horario: {{event.startTime}} - {{event.endTime}}</p>

                  <p>Fecha: {{event.date}}</p>

                  <p>Lugar: {{event.location}}</p>

                  <p>Campus: {{event.campus}}</p>

                  <p>Reserva: {{getBooking()}}</p>

                  <p>Creditos: {{getCredits()}}</p>
                   
              </div>
              
          </div>
      </div>
  </section>
  <app-likes [eventL]="event"></app-likes>
  <app-addfavorites [eventF]="event"></app-addfavorites>
  <app-comments [eventC]="event"></app-comments>
  <app-footer></app-footer>