<section class="intro">
    <div class="container">
        <div class="container1">
              <div class="titleName">
                  <h3>Nombre Evento</h3>
                  <img src="" alt="">
              </div>
              <div class="info">
                  <h3>Nombre Asociacion</h3>
                  
                  <p>Descripcion: </p>
                  
                  <p>Horario: </p>

                  <p>Fecha: </p>

                  <p>Lugar:</p>

                  <p>Campus:</p>

                  <p>Reserva: </p>

                  <p>Creditos: </p>
                   
              </div>
              
          </div>
      </div>
  </section>