<div class="container-fluid px-4">
  <h1 class="mt-4">Editar Evento</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Editar Evento</li>
  </ol>
  <form action="/aso/editEvent" class="py-5 px-2 mx-auto col-sm-10 col-md-7 col-lg-5" method="post" enctype="multipart/form-data">
      <div class="form-group py-2">
          <label for="eventName">Nombre</label>
          <input  name="name" type="text"  value="" class="form-control" [(ngModel)] ="event.name" id="eventName" placeholder="Nombre del evento" required/>
      </div>
      <div class="form-group py-2">
          <label for="">Fecha y hora</label>
          <div class='d-flex align-items-center gap-2'>
              <input name="date" value="" type="date" class="form-control bootstrap-date" id="eventDate" required [(ngModel)] ="event.date"/>
              <span>de</span>
              <input name="startTime" value=""  type="time" class="form-control bootstrap-datetimepicker" id="eventDate" required [(ngModel)] ="event.startTime"/>
              <span>hasta</span>
              <input name="endTime" value="" type="time" class="form-control bootstrap-datetimepicker" id="eventDate" required [(ngModel)] ="event.endTime"/>
          </div>
      </div>
      <div>
          <label for='form-select'>Campus</label>
          <select name="campus" class="form-select" aria-label="Default select example" [(ngModel)]="event.campus">
            <option value="Alcorcón">ALCORCÓN</option>
            <option value="Aranjuez">ARANJUEZ</option>
            <option value="Fuenlabrada">FUENLABRADA</option>
            <option value="Móstoles">MÓSTOLES</option>
            <option value="Madrid-Vicalvaro">MADRID-VICALVARO</option>
            <option value="Madrid-Quintana">MADRID-QUINTANA</option>
          </select>
      </div>
      <div class="form-group py-2">
        <label for="">Ubicación</label>
        <input name="location" value="" type="text" class="form-control" id="eventPlace" required [(ngModel)]="event.location"/>
      </div>
      <div class="form-group">
          <label for='form-check'>¿Se darán créditos por la asistencia?</label>
          <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="credits" id="yes" value="yes" [(ngModel)]="event.credits">
                <label class="form-check-label" for="yes">Si</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="credits" id="no" value="no">
                <label class="form-check-label" for="no">No</label>
              </div>
            </div>
      </div>
      <div class="form-group">
          <label for='form-check'>¿Hará falta reservar?</label>
          <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="reservation" id="yes" value="yes" [(ngModel)]="event.booking">
                <label class="form-check-label" for="yes">Si</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="reservation" id="no" value="no">
                <label class="form-check-label" for="no">No</label>
              </div>
            </div>
      </div>
      <div class="form-group py-2">
        <label for="">Descripción</label>
        <textarea name="description" type="text" class="form-control" style="height: 10em;" [(ngModel)]="event.description" required></textarea>
      </div>
      <div>
          <input name="image" class="form-control" type="file" accept="image/*" (change)="onFileSelected($event)"/>
      </div>
      <div class="d-flex py-2 w-100">
        <div class="flex-fill"></div>
        <button type="submit" class="btn btn-danger px-4" (click)="editEvent($event)">Guardar cambios</button>
        <input type="hidden" name="_csrf" value=""/>
      </div>
  </form>
</div>