<div class="container-fluid px-4">
    <h1 class="mt-4">Eventos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Eventos</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tabla Eventos 
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Localización</th>
                        <th>Asociación</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                       
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Localización</th>
                        <th>Asociación</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                        
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>name</td>
                        <td>date</td>
                        <td>location</td>
                        <td>ASOname</td>
                        <td><form action="/admin/events/editevent">
                            <input [routerLink]="['/admin/events/editevent']" type="submit" class="btn btn-sm btn-outline-success" value="Modificar">
                            <input type="hidden" name="_csrf" value="token"/>
                        </form></td>
                        <td><form action="/admin/editarEventos/" method="post">
                            <input type="submit" class="btn btn-sm btn-outline-danger" value="Eliminar">
                            <input type="hidden" name="_csrf" value="token"/>
                        </form></td>
                    </tr>           
                </tbody>
            </table>
        </div>
    </div>
</div>
    