<div class="container-fluid px-4">
  <h1 class="mt-4">Crear Evento</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Crear Evento</li>
  </ol>
  <form
    action="/aso/newEvent"
    class="py-5 px-2 mx-auto col-sm-10 col-md-7 col-lg-5"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="form-group py-2">
      <label for="eventName">Nombre</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="eventName"
        placeholder="Nombre del evento"
        [(ngModel)]="event.name"
        required=""
      />
    </div>
    <div class="form-group py-2">
      <label for="">Fecha y hora</label>
      <div class="d-flex align-items-center gap-2">
        <input
          name="date"
          type="date"
          class="form-control bootstrap-date"
          id="eventDate"
          [(ngModel)]="event.date"
          required=""
        />
        <span>de</span>
        <input
          name="startTime"
          type="time"
          class="form-control bootstrap-datetimepicker"
          id="eventDate"
          [(ngModel)]="event.startTime"
          required=""
        />
        <span>hasta</span>
        <input
          name="endTime"
          type="time"
          class="form-control bootstrap-datetimepicker"
          id="eventDate"
          [(ngModel)]="event.endTime"
          required=""
        />
      </div>
    </div>
    <div>
      <label for="form-select">Campus</label>
      <select name="campus" class="form-select" aria-label="Default select example" [(ngModel)]="event.campus">
        <option *ngFor="let campus of campusValues " value={{campus.value}} [selected]="campus.select" >{{campus.content}}</option>
      </select>
    </div>
    <div class="form-group py-2">
      <label for="">Ubicación</label>
      <input
        name="location"
        type="text"
        class="form-control"
        id="eventPlace"
        [(ngModel)]="event.location"
        required=""
      />
    </div>
    <div class="form-group">
      <label for="form-check">¿Se darán créditos por la asistencia?</label>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="credits"
            id="yes"
            value="yes"
            checked=""
            [(ngModel)]="event.credits"
            />
          <label class="form-check-label" for="yes">Si</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="credits"
            id="no"
            value="no"
          />
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="form-check">¿Hará falta reservar?</label>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="reservation"
            id="yes"
            value="yes"
            [(ngModel)]="event.booking"
          />
          <label class="form-check-label" for="yes">Si</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="reservation"
            id="no"
            value="no"
          />
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
    <div class="form-group py-2">
      <label for="">Descripción</label>
      <textarea
        name="description"
        type="text"
        class="form-control"
        style="height: 10em"
        required=""
        [(ngModel)]="event.description"
      ></textarea>
    </div>
    <div>
      <input
        name="image"
        class="form-control"
        type="file"
        accept="image/*"
        required=""
        id="fileInput"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="d-flex py-2 w-100">
      <div class="flex-fill"></div>
      <button type="submit" class="btn btn-danger px-4" (click)="createEvent($event)">Crear</button>
      <input
        type="hidden"
        name="_csrf"
        value="2043af24-b7f3-48c0-b523-c44e3f56d42a"
      />
    </div>
  </form>
</div>
