#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
   }
   
   #flex-container > .flex-item {
    -webkit-flex: auto;
    flex: auto;
    margin-left: 9rem;
   }
   
   #flex-container > .raw-item {
    width: 10rem;
    position: fixed;
   }

   .box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    }
    .boxTitle{
        text-align: center;
        color: black;
    }
    .boxInfo{
        text-align: left;
        margin-left: 20px;
        color: black;
    }
    .headerPageTitle{
        margin-top: 90px;
        font-size: 35px;
        margin-left: 25px;
        color:black;
    }
    .gridContainer {
        display: grid;
        /*grid-template-columns: auto auto auto auto;*/
        padding: 10px;
    }
    
    /* Screen larger than 600px? 2 column */
    @media (min-width: 1300px) {
        .gridContainer { grid-template-columns: auto auto; }
    }
  
  /* Screen larger than 900px? 3 columns */
    @media (min-width: 1900px) {
        .gridContainer { grid-template-columns: auto auto auto; }
    }
    @media (min-width: 2500px) {
        .gridContainer { grid-template-columns: auto auto auto auto; }
    }
    .gridItem {
        max-width: 600px;
        margin-top: 15px;
        margin-left: 15px;
        margin: 10;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 25px;
        text-align: center;
      }
      .gridItem {
        max-width: 600px;
        margin-top: 15px;
        margin-left: 15px;
        margin: 10;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 25px;
        text-align: center;
      }
    .itemIcon{
        width: 50px;
        height: 50px;
        align-self:center;
        color: rgb(161, 161, 161);
        background-color: rgb(255, 255, 255);
        border: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .usersGridContainer {
        display: grid;
        grid-template-columns: 2% 18% 15% 65%;
        
        
    }
    .userGridItem {
        height: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 15px;
        text-align: center;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;

      }

