<header class="nav container_fluid">
    <div class="">
        <a href="#"><img class="logo" src="img/URJ_logo_BN_NEG_corona_roja.png" alt=""></a>

        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                
                    <li><a [routerLink]="['/login']">Login</a></li>
                
              
                    <!-- {{#aso}}
                        <li><a href="/aso/miEspacio">Mi Asociación</a></li>
                    {{/aso}} 
                    {{#base}}
                        <li><a href="miCuenta">Mi Espacio</a></li>
                    {{/base}} 
                    {{#admin}}
                        <li><a href="/admin/editarUsuarios">Panel de Control</a></li>
                    {{/admin}}  -->
              
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</header>
