<header class="nav container_fluid">
    <div class="container-fluid">
        <a href="#"><img class="logo" src="assets/img/CoronaRoja.png" alt=""></a>

        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ng-container *ngIf="currentUser">

                    <ng-container *ngIf="currentUser.rol === 'ADMIN'">
                        <li><a [routerLink]="['/admin/events']">Panel de Control</a></li>
                    </ng-container>

                    <ng-container *ngIf="currentUser.rol === 'BASE'">
                        <li><a [routerLink]="['/myUser']">Mi Espacio</a></li>
                    </ng-container>

                    <ng-container *ngIf="currentUser.rol === 'ASO'">
                        <li><a [routerLink]="['/aso/miEspacio']">Mi Asociación</a></li>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!currentUser">
                    <li><a [routerLink]="['/login']">Login</a></li>
                </ng-container>   
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</header>
