
<section class="comments-container">
    <h1>Comentarios</h1>

    <app-comment *ngFor="let com of commentList" [comment]="com"></app-comment>

    <div class="comment-form">
        <form class="form" method="post" action="/crearComentario/">
            <div class="form-row">
            <textarea class="input" name="description" placeholder="Añadir Comentario..."></textarea>

            </div>
    
            <div class="form-row">
            <input id="addComment" type="submit" value="Añadir Comentario" (click)="save()">
            <input type="hidden" name="_csrf" value="tokken"/>
            </div>
        </form>
    </div>
   </section>