
<section class="comments-container">
    <h1>Comentarios</h1>
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level"> 
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="">comment_user</a></h6>
                        <span>time</span>
                        <p class="likesNumberRight">5<a href=''></a></p>
                    </div>
                    <div class="comment-content">description</div>
                </div>  
            </div>
            <app-comment *ngFor="let com of commentList" [comment]="com"></app-comment>
        </li>
        
    </ul>
    

    <div class="comment-form">
        <form class="form" method="post" action="/crearComentario/">
            <div class="form-row">
            <textarea class="input" name="description" placeholder="Añadir Comentario..." [(ngModel)]="description"></textarea>

            </div>
    
            <div class="form-row">
            <input id="addComment" type="submit" value="Añadir Comentario" (click)="save()">
            <input type="hidden" name="_csrf" value="tokken"/>
            </div>
        </form>
    </div>
</section>