<li>
    <div class="comment-main-level"> 
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name">{{comment.comment_user}}</h6>
                <span>{{comment.time}}</span>
                <p class="likesNumberRight">{{comment.totalLikes}}<a (click)="like()"><fa-icon [icon]="heart"></fa-icon></a></p>
                
                
            </div>
            <div class="comment-content">{{comment.description}}</div>
        </div>  
    </div>   
</li>


