/* .separador{
    width: 100%;
    margin: 0 0 48px;
    text-align: center;
}

.separador ul{
    display:inline-block;
    margin: 1em;
    list-style: none;   
}

.separador ul li{
    padding: 0 5px;
}

.separador ul li a{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5em;
    transition: border .1s ease-out;
} */

a{
    text-decoration: none;
    color:#fff;
}

.options{
    /* background-color: tomato; */
    /* position: absolute;
    z-index: 1000; */
    width: 100%;
    text-align: center;
    margin: 78px 0 0 0;
    background: rgb(242, 243, 248);
}

.options ul{
    list-style: none;
}

.options ul li{
    display: inline-block;
}

.options ul li a{
    /* background-color: aqua; */
    color: #5a6674;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5em;
    transition: border .1s ease-out;
}

.options ul li a:hover{
    /* border-bottom: 3px solid red; */
    box-shadow: inset 0 -2px 0  red;
    color:red;
}

.options ul li a.focus{
    box-shadow: inset 0 -2px 0  red;
    color:red;
}


/* .wrapper {
    display    : flex;
    flex-wrap  : wrap;
} */

.content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: rgb(242, 243, 248);
    /* width: 100vw; */
    width: auto;
    /* height: 100vh; */
    height: 600px;
    overflow: hidden;
}

.content:after {
    content: '';
    left: 80px;
    height: 58%;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg, rgb(242, 243, 248) 0%, rgba(242, 243, 248,0) 100%);
    pointer-events: none;
}
.content:before {
    content: '';
    pointer-events: none;
    right: 80px;
    height: 58%;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg, rgba(242, 243, 248,0) 0%, rgba(242, 243, 248,1) 100%);
}

.btn {
    min-width    : 60px;
    height       : 60px;
    border-radius: 7px;
    background: #fff;
    border       : 0px;
    outline      : none;
    cursor       : pointer;
    z-index      : 200;
    margin       : 10px;
    box-shadow   : 0px 0px 0px 0px rgba(0, 0, 0, .08);
    transition   : all .25s ease;
}

.btn:hover {
    transform : translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.btn i {
    font-size: 1.6rem;
    color: red;
}

.con-cards {
    display        : flex;
    flex-wrap: nowrap ;
    align-items    : center;
    justify-content: flex-start;
    width          : 100%;
    overflow       : auto;
    /* padding-top    : 100px; */
    padding-left   : 60px;
    padding-right  : 50px;
    scroll-behavior: smooth;
}

.con-cards::-webkit-scrollbar {
    height: 0px;
}

.con-cards:after {
    content  : '';
    display  : block;
    min-width: 20px;
    height   : 100px;
    position : relative;
}

.widget {
    width: 100%;
    min-width         : 430px;
    height            : 440px;
    border            : 1px solid rgba(0, 0, 0, 0.2);
    background-color  : #fff;
    border-radius     : 4px;
    overflow          : hidden;
    position          : relative; 
    margin: 25px;

    /* min-width: 300px;
    height: auto;
    background: black;
    color: white;
    border-radius: 30px;
    position: relative;
    z-index: 10;
    margin: 25px;
    min-height: 356px;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    cursor: pointer; */

    -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow   : 0px 7px 10px 0px rgba(50, 50, 50, 0.32);
    box-shadow        : 0px 7px 10px 0px rgba(50, 50, 50, 0.32);
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition   : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition        : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.widget__photo {
    width             : 100%;
    height            : 300px;
    /* background        : url("https://imagenes.elpais.com/resizer/sE6109hW7QyrGSJTJ4xOx2lDo2U=/414x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/O6HT55I7NJMMJQQN3RIPCLQ3UQ.jpg") no-repeat center/cover; */
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition   : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition        : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    position          : relative;
    -webkit-transform : scale(1);
    -moz-transform    : scale(1);
    -ms-transform     : scale(1);
    -o-transform      : scale(1);
    transform         : scale(1);
}

.widget__photo:after {
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition   : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition        : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    content           : "";
    width             : 100%;
    height            : 100%;
    position          : absolute;
    background-color  : rgba(0, 0, 0, 0.6);
    top               : 0;
    left              : 0;
    opacity           : 0;
    z-index           : 10;
}

.widget__details {
    padding : 30px;
    position: relative;
}

.widget__badges {
    position: absolute;
    right   : 30px;
    top     : 30px;
}

.widget__badge {
    font-size    : 12px;
    display      : inline-block;
    border       : 1px solid rgba(0, 0, 0, 0.2);
    color        : rgba(0, 0, 0, 0.5);
    width        : 40px;
    text-align   : center;
    padding      : 2px 0;
    border-radius: 3px;
}

.widget__badge.widget__badge--rating {
    background-color: red;
    border-color    : red;
    color           : #fff;
}

.widget__name {
    font-size  : 18px;
    color      : rgba(0, 0, 0, 0.8);
    font-weight: 600;
    width      : 100%;
    padding    : 0 80px 0 0;
}

.widget__type {
    font-size: 12px;
    color    : rgba(0, 0, 0, 0.6);
}

.widget__info {
    margin-bottom: 25px;
}

.widget__info span {
    color        : rgba(0, 0, 0, 0.7);
    font-size    : 14px;
    display      : block;
    width        : 100%;
    margin-bottom: 4px;
}

.widget__info span:first-of-type {
    margin-top: 15px;
}

.widget__table {
    width     : 100%;
    margin-top: 30px;

}

.widget__table tr td {
    color      : rgba(0, 0, 0, 0.7);
    line-height: 25px;
}

.widget__table tr td:first-child {
    color: rgba(0, 0, 0, 0.4);
}

.widget__overlay {
    visibility      : hidden;
    opacity         : 0;
    position        : absolute;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.widget__button {
    cursor            : pointer;
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition   : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition        : 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    position          : absolute;
    margin            : 0 auto;
    padding           : 10px 0;
    width             : 70%;
    background-color  : red;
    border-radius     : 4px;
    color             : #fff;
    text-align        : center;
    text-transform    : uppercase;
    letter-spacing    : 1px;
    font-weight       : 600;
    font-size         : 12px;
    left              : 0;
    right             : 0;
    top               : -40px;
}

.widget:hover .widget__button {
    top: 32px;
}

.widget:hover .widget__photo {
    height           : 100px;
    -webkit-transform: scale(1.3);
    -moz-transform   : scale(1.3);
    -ms-transform    : scale(1.3);
    -o-transform     : scale(1.3);
    transform        : scale(1.3);
}

.widget:hover .widget__photo:after {
    opacity: 1;
}

.widget:hover .widget__overlay {
    visibility: visible;
    opacity   : 1;
}

@media screen and (max-width:768px) {
    .widget {
        width                : 96%;
    }
   
}