<form action="/globalFormSubmit" method="post">
    <div class="hero container-fluid">
        <div class="search-form" id="buscador">
            <input type="search" value="" placeholder="Busca eventos o categorías" class="search-input" name="searchBar" [(ngModel)]='searchInput'>
            <button id="submitBtn" class="search-button" name="_csrf" value="" (click)="search()">
                <svg class="submit-button">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                </svg>
            </button>
            <div class="search-option">
                <div>
                    <input name="type" type="radio" value="type-users" id="type-users">
                </div>
            </div>
            
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
            <symbol id="search" viewBox="0 0 32 32">
                <path
                    d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
            </symbol>
        </svg>
    </div>
    <div class="filters-container">
        <div class="filter">
            <div class="select-container">
                    <select class="custom-select" id="asociacion" name="asociationValue" (change)="search()" [(ngModel)]="asoSelected">
                        <ng-template ngFor let-aso [ngForOf]="asoValues">
                            <option value={{aso.value}} [selected]="aso.select" >{{aso.content}}</option>
                        </ng-template>
                    </select>
                    
                    <!-- <button style="display: none;" id="submitBtn" type="submit" class="search-button" name="_csrf" value="{{token}}">
                        <svg class="submit-button">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                        </svg>
                    </button> -->
                
                
            </div>
            <div class="select-container">
                    <select class="custom-select" id="mes" name="monthSelect" (change)="search()" [(ngModel)]='monthSelected'>
                        <ng-template ngFor let-month [ngForOf]="monthsValues">
                            <option value={{month.value}} [selected]="month.select" >{{month.content}}</option>
                        </ng-template>
                    </select>
                    <!-- <button style="display: none;" id="submitBtn" type="submit" class="search-button" name="_csrf" value="{{token}}">
                        <svg class="submit-button">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                        </svg>
                    </button> --> 
                
            </div>
            <div class="select-container">
                    <select class="custom-select" id="campus" name="campusValue" (change)="search()" [(ngModel)]="campusSelected">
                        <option *ngFor="let campus of campusValues " value={{campus.value}} [selected]="campus.select" >{{campus.content}}</option>
                    </select>
                    <!-- <button style="display: none;" id="submitBtn" type="submit" class="search-button" name="_csrf" value="{{token}}">
                        <svg class="submit-button">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                        </svg>
                    </button> -->
                
            </div>

            <!-- <div class="boton">
                <i class="bx bx-filter-alt"></i>
                <i class="bx bx-check"></i>
            </div> -->
        </div>
    </div>
</form>

<div class="options">
   <!-- <ul>
        <li><a href="#eventos" id="eventos" class="focus">Próximos Eventos</a> </li>
        <li><a href="#agenda" id="agenda">Agenda</a></li>
    </ul>-->
</div>
<!--
<div class='content' id="elemento">

    <button id="prev" class="btn">
        <i class="bx bxs-chevron-left"></i>
    </button>

    <div class="con-cards">

    {{#eventsCarrusel}}
        <div class='widget'>
            <div style='background: url(/{{id}}/image) no-repeat center/cover;' class='widget__photo'></div>
            <div class='widget__button'>
                <a href="/infoEvento/{{id}}">Más Info</a> 
            </div>
            <div class='widget__details'>
                <div class='widget__name'>
                    {{name}}
                </div>
                <div class='widget__type'>
                    {{#asociation}}{{name}}{{/asociation}}
                </div>
                <div class='widget__info'>
                    <span>
                        Universidad Rey Juan Carlos
                    </span>
                    <span>
                        {{campus}}
                    </span>
                </div>
                <div class='widget__hidden'>
                    <hr>
                    <table class='widget__table'>
                        <tr>
                            <td>
                                Fecha
                            </td>
                            <td>
                                {{date}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Horario
                            </td>
                            <td>
                                {{startTime}} - {{endTime}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lugar
                            </td>
                            <td>
                                {{location}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reserva
                            </td>
                            <td>
                                {{#booking}}Si{{/booking}}
                                {{^booking}}No{{/booking}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Creditos
                            </td>
                            <td>
                                {{#credits}}Si{{/credits}}
                                {{^credits}}No{{/credits}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {{/eventsCarrusel}}
                
    </div>

    <button id="next" class="btn">
         <i class="bx bxs-chevron-right"></i>
    </button>
</div>-->
<div class="cardsSite" id="cardsSite" >
    <app-card *ngFor="let eventF of events" [event]='eventF'></app-card>

</div>

<section class="row1">  
    <div class="seccion">

    <div class="button-line-ext" (click)="loadMore()">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
        <span class="line4"></span>
        <a>Cargar más</a>
        </div>
    </div>
</section>