<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/logerror.css">
	<title>Document</title>
</head>
<body>
	<div id="container">
		<div id="error-box">
		  <div class="face2">
			<div class="eye"></div>
			<div class="eye right"></div>
			<div class="mouth sad"></div>
		  </div>
		  <div class="shadow move"></div>
		  <div class="message"><h1 class="alert">¡Error!</h1><p>oh no, credenciales no validas.</div>
		  <button class="button-box"><a href="/login" class="red">Volver</a></button>
		</div>
	  </div>
</body>
</html>
	

