<section class="row1">
    <input type="hidden" id="likeValue" value=>
    <input type="hidden" id="dislikeValue" value=>
    <div id="puntuation">
        <div class="container barLikes">
                <div class="like">
                    <a href=""><i class=''></i></a>
                </div>
                <div class="barGraph">
                    <div id="bar">
                        <div id="likeArea"></div>
                        <div id="dislikeArea"></div>
                    </div>
                </div>
                <div class="dislike">
                    <a href=""><i class=''></i></a>
                </div>
        </div>
    </div>
</section>