<section class="row1">
    <input type="hidden" id="likeValue" value={{eventL.totalLikes}}>
    <input type="hidden" id="dislikeValue" value={{eventL.totalDislikes}}>
    <div id="puntuation">
        <div class="container barLikes">
                <div class="like">
                    <a href="" (click)="like()"><i class='bx {{likeStyle}}'></i>hola</a>{{eventL.totalLikes}}
                </div>
                <div class="barGraph">
                    <div id="bar">
                        <div id="likeArea"></div>
                        <div id="dislikeArea"></div>
                    </div>
                </div>
                <div class="dislike">
                    {{eventL.totalDislikes}}<a href="" (click)="dislike()">hola<i class='bx {{dislikeStyle}}'></i></a>
                </div>
        </div>
    </div>
</section>