<section class="row1">
    <input type="hidden" id="likeValue" value={{eventL.totalLikes}}>
    <input type="hidden" id="dislikeValue" value={{eventL.totalDislikes}}>
    <div id="puntuation">
        <div class="container barLikes">
                <div class="like">
                    <a (click)="like()"><fa-icon [icon]="likeStyle"></fa-icon></a>{{eventL.totalLikes}}
                </div>
                <div class="barGraph">
                    <div id="bar">
                        <div id="likeArea"></div>
                        <div id="dislikeArea"></div>
                    </div>
                </div>
                <div class="dislike">
                    {{eventL.totalDislikes}}<a (click)="dislike()"><fa-icon [icon]="dislikeStyle"></fa-icon></a>
                </div>
        </div>
    </div>
</section>