* {
    margin            : 0;
    padding           : 0;
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

body {
    height     : 100vh;
    margin     : 0;
    /* background             : rgba(0, 0, 0, 0.1); */
    /* background: #fff; */
    background: rgb(242, 243, 248);
    color      : #5a6674;
    font-size  : 13px;
    font-family: "Roboto", sans-serif;
    /* overflow   : hidden; */
}

.container {
    width : 80%;
    margin: 0 auto;
}

.container_fluid {
    width: 100%;
}

.row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

/* .sticky{
    position: fixed;
    top: 85px;
} */

.nav {
    height            : 65px;
    position          : fixed;
    z-index: 900;
    /* position: absolute; */
    line-height       : 65px;
    text-align        : center;
    background-color  : black;
    -webkit-transition: all 0.4s ease;
    transition        : all 0.4s ease;

}

.nav .logo {
    float       : left;
    width       : 11rem;
    /* height   : auto; */
    padding-top : 3px;
    padding-left: 3rem;
}

.nav div.main_list {
    height: 65px;
    float : right;
}

.nav div.main_list ul {
    width     : 100%;
    height    : 65px;
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.nav div.main_list ul li {
    width        : auto;
    height       : 65px;
    padding      : 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color          : #fff;
    line-height    : 65px;
    font-size      : 1rem;
}


.nav div.main_list ul li:hover > a{
    color: red;
}

.navTrigger {
    display: none;
}



@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width   : 100%;
        height  : 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height : auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction  : column;
        width           : 100%;
        /* margin          : 0 auto; */
        margin-top      : 5px;
        height          : auto;
        right           : 0;
        left            : 0;
        bottom          : 0;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    }
    .nav div.main_list ul :last-child{
        border-bottom: none;
    }

    .nav div.main_list ul li {
        width     : 80%;
        text-align: center;
        padding   : 0;
        border-bottom: solid #8d8d8d 1px;
        margin: 0 auto;
    }

    

    .nav div.main_list ul li a {
        text-align   : center;
        width        : 100%;
        font-size    : 1.2rem;
        color: #8d8d8d;
        /* padding   : 20px; */
    }

    .nav div.media_button {
        display: block;
    }
}




.navTrigger {
    cursor  : pointer;
    width   : 30px;
    height  : 25px;
    margin  : auto;
    position: absolute;
    right   : 30px;
    top     : 0;
    bottom  : 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius   : 1px;
    content         : '';
    display         : block;
    width           : 100%;
    height          : 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation          : outT 0.8s backwards;
    animation                  : outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction        : reverse;
}

.navTrigger i:nth-child(2) {
    margin                     : 5px 0;
    -webkit-animation          : outM 0.8s backwards;
    animation                  : outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction        : reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation          : outBtm 0.8s backwards;
    animation                  : outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction        : reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation        : inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation        : inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation        : inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}